<!doctype html>
<html lang="en">
<head>
  <title>Add Song</title>
</head>
<body>
  <h1>Add a New Song</h1>
  <form action="{{ url_for('add_song') }}" method="post">
    <label for="title">Song Title:</label><br>
    <input type="text" name="title" required><br>
   
    <label for="artist">Artist:</label><br?
    <input type="text" name="artist" required><br>
   
    <label for="album_id">Album:</label><br>
    <input type="number" name="album_id" required><br><br>

    <label for="duration">Duration (MM:SS):</label><br>
    <input type="text" name="duration" required><br>

    
    <input type="submit" value="Add Song">
  </form>
  <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
